<div>
    <div class="list card">
 <div class="item item-avatar">
    <h2>Fantasy Roster</h2>
    <p>Dont have a roster yet?</p>
  </div>
<div class="item item-body">
  
    <img class="full-image" src="images/ready.jpg">
    <p>Well hurry up, the leaderboard is filling up</p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">3 Comments</a>
      <a href="#" class="subdued">8 Share</a>
    </p>
 
</div>
<div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>
</div>
</div>