<div class="card" ng-submit="loginCtrl.register(loginCtrl.user)">
    <div class="item item-divider">
        I'm a Header in a Card!
    </div>
    <div class="item item-text-wrap">
        <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input type="text" placeholder="Email" ng-model="loginCtrl.user.email">
        </label>
        <br>
        <label class="item item-input item-floating-label">
            <span class="input-label">Password</span>
            <input type="text" placeholder="Last Name" ng-model="loginCtrl.user.password">
        </label>
    </div>
    <div class="item item-divider">
        <button type="submit" class="button icon-right ion-home">Login</button>
    </div>
</div>